
div {
  border: 1px solid #ccc;
  margin: 5px;
  padding: 10px;
  background-color: #f0f0f0;
}
  
button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
  
button:hover {
  background-color: #c82333;
}
  
p {
  font-weight: bold;
}

#no-expense {
  margin: 25px;
}
