.about-container {
  max-width: 800px;
  margin: 20px auto;  
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
  
h2 {
 color: #007bff;
 font-size: 2em;
 margin-bottom: 15px;
}
  
ul {
  list-style-type: none;
  padding: 0;
  display: grid;
  gap: 10px;
}
  
li {
  margin-bottom: 10px;
}

li:hover {
  background-color: #87e4dd;
  transition: background-color 0.3s ease;
}
  
p {
  margin-bottom: 15px;
  line-height: 1.5;
}